/* colocando cores em variável */
:root{
    --default-green: #1db954;
    --light-green: #1ed760;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*Utility Classes - para utilizar em outras páginas*/
.btn-primary{
    background-color: var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover{
    background: var(--light-green);
    cursor: pointer;
}

.logo{
    height: 40px;
    width: auto;
}


#navbar{
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: black;
    color: white;
    justify-content: center;
    padding: 20px 0;
    /* position: fixed;
    width: 100%; */
}

.navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navbar-container ul li{
    padding: 0 20px;
}

.navbar-container ul li:hover{
   color: var(--default-green);
   cursor: pointer;
   transition: all 300ms ease;
}

.navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('/img/showcase.webp') center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-container h2{
    font-size: 5rem;
}

.showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
}

#footer{
    background-color: black;
    color: white;
    padding: 80px 0;
}

.footer-content{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer-content .footer-menu{
    margin: 0 60px;
    list-style: none;
}

.footer-content .footer-menu .footer-menu-item{
    margin: 25px 0;
    transition: all 300ms ease;
}

.footer-content .footer-menu .footer-menu-item:hover{
    color: var(--default-green);
    cursor: pointer;
}

.footer-content .footer-menu p{
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

.socials{
    display: flex;
}

.socials i{
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}

.socials i:hover{
    color: var(--default-green);
    cursor: pointer;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-info .footer-info-items{
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover{
    color: var(--default-green);
    cursor: pointer;
}

.footer-info .rights .country{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country p{
    transition: all 300ms ease;
}

.footer-info .rights .country p:hover{
    color: var(--default-green);
    cursor: pointer;
}

.footer-info .rights .country .brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}